@import url("reset.css");

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Georgia, serif;
  margin: 0;
  padding: 0;
  background-color: #9dc0bc;
}

header h1 {
  margin-bottom: 20px;
}

header {
  width: 100%;
  top: 0;
  background-color: #5a2328;
  padding: 20px;
  text-align: center;
  z-index: 1000;
}

main {
  padding: 20px;
}

header,
footer {
  background-color: #5a2328;
  padding: 20px;
  text-align: center;
}

footer {
  position: absolute;
  width: 100%;
  margin-top: 0px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;
}

li {
  margin-bottom: 10px;
}

ol {
  padding-left: 10px;
}

main {
  padding: 20px;
}

section,
article,
aside {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #e6aa68;
  background-color: #b88c9e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1,
h2,
h3,
h4,
h5 {
  color: #5a2328;
  padding-bottom: 10px;
  font-weight: bold;
}

p {
  line-height: 1.6;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #f5f5f5;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
}

.header__title {
  font-size: 24px;
  color: #fff;
}

.nav__list {
  margin: 0;
  padding: 0;
}

.nav__item {
  display: inline;
  margin: 0 10px;
}

.nav__link {
  color: #fff;
  text-decoration: none;
}

.section__title {
  font-size: 20px;
}

.section__text {
  font-size: 16px;
}

.footer__contact {
  margin: 5px 0;
  color: #fff;
  text-align: center;
}

.image {
  margin: 10px;
  transition: transform 0.3s;
}

.table-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  padding: 10px;
  border: 1px solid #ccc;
}

th {
  background-color: #5a2328;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #fff;
}

#images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#images img:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 600px) {
  aside {
    display: none;
  }

  header h1 {
    font-size: 1.5rem;
  }

  .header__title {
    font-size: 1.2rem;
  }

  .section__title {
    font-size: 1.2rem;
  }

  .section__text {
    font-size: 1rem;
  }

  .nav__item {
    margin: 0 5px;
  }

  .image {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  header h1 {
    font-size: 2rem;
  }

  .header__title {
    font-size: 1.5rem;
  }

  .section__title {
    font-size: 1.5rem;
  }

  .section__text {
    font-size: 1.2rem;
  }

  .nav__item {
    margin: 0 10px;
  }

  .image {
    width: auto;
    height: auto;
  }
}

@media screen and (min-width: 1025px) {
  header h1 {
    font-size: 2.5rem;
  }

  .header__title {
    font-size: 1.8rem;
  }

  .section__title {
    font-size: 1.8rem;
  }

  .section__text {
    font-size: 1.4rem;
  }

  .nav__item {
    margin: 0 15px;
  }

  .image {
    width: auto;
    height: auto;
  }
}

.nav__link.active {
  font-weight: bold;
  color: pink;
}
